@import '../../styles/basic';
@import '../../styles/variables';

.input__field {
  @extend %input;
  width: 15%;
}

.error__message {
  color: $delete-primary-color;
}

.input--invalid {
  border: 1px solid $delete-primary-color;
}

.field__label {
  text-transform: capitalize;
}