@import '../../styles/basic';
@import '../../styles/mixins';
@import '../../styles/variables';

.todo__title {
    @extend %header;
}

.todo--completed {
    text-decoration: line-through;
}

.edit__link {
    @extend %button;
    @include button-bg($link-primary-color);
    display: flex;
    text-decoration: none;
    justify-content: center;
    line-height: 33px;
    margin-bottom: 5px;
}

.todo__toggle:hover {
    cursor: pointer;
}

.todo__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}