@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/basic';


.btn-danger {
  @extend %button;
  @include button-bg($delete-primary-color);
}

.btn-success {
  @extend %button;
  @include button-bg($add-primary-color);
}

.btn-basic {
  @extend %button;
  @include button-bg($edit-primary-color);
}
