@import './variables';

%list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

%header {
    margin: 0;
}

%button {
    width: 122px;
    height: 33px;
    color: $white;
    font: 13px 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    border-radius: 2px;
    border : none;

    &:hover {
        cursor: pointer;
    }
    &[disabled] {
        background-color: $disabled-color;
        &:hover {
            background-color: $disabled-color;
            cursor: not-allowed;  
        }
    }
}

%input {
    outline: none;
    padding: 7px;
}